.card-sign-in{
    height: 60vh;
}
.wdith-sign-center{
    width: 50%;
}
.main-signup-text{
    font-size: 32px;
    color: var(--color-first);
    font-weight: mainFontBlack;
    line-height: 150%;
    font-weight: bold;
    text-align: center;
}
.underline-text-main{
    font-size: 14px;
    text-align: center;
    line-height: 150%;
}
.width-center-inputs{
    background-color: white;
    padding:2.5rem;
    border-radius:12px ;
    background-color: rgba(249,250,251,1);
}
.input-sign-up{
    border-radius: 0.375rem;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.5;
    width: 100%;
    border-color: rgba(156,163,175,1);
    padding: 0.5rem 0.75rem;
}
#label-input{
    color: var(--color-first);
    
}
.forgot-pwd-text{
    color: var(--color-second);
    font-family: mainFontBlack;
}
.sign-btn{
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 8px;
    background-color: var(--color-second);
    border-radius: 0.375rem;
}

@media (max-width: 768px) {
    .width-center-inputs{
        padding: 1.5rem;
    }
    .main-signup-text{
        font-size: 26px;
    }
    .underline-text-main{
        font-size: 12px;
    }
    .input-sign-up{
        padding: 0.2rem 0.75rem;
        font-size: 14px;
    }
    #label-input{
        font-size: 14px;
    }
    .text-remember-me{
        font-size: 12px;
    }
    .forgot-pwd-text{
        font-size: 12px;
    }
    .wdith-sign-center {
        width: 90%;
    }
    .sign-btn {
        border: none;
        outline: none;
        font-size: 12px;
    }
    .card-sign-in{
        height: 70vh;
    }
}