

@font-face {
  font-family: mainFontBlack;
  src: url('../public/fonts/circular-std-font-family/CircularStd-Black.ttf');
}
@font-face {
  font-family: mainFontBlod;
  src: url('../public/fonts/circular-std-font-family/CircularStd-Bold.ttf');
}
@font-face {
  font-family: mainFont;
  src: url('../public/fonts/circular-std-font-family/CircularStd-Book.ttf');
}
@font-face {
  font-family: mainFontLight;
  src: url('../public/fonts/circular-std-font-family/CircularStd-Medium.ttf');
}


body {
  margin: 0;
  font-family: mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin: 0;
}
.container-custom {

  margin-right: auto;
  margin-left: auto;
}
.btn-play-video{
  background: #288D69;
  border-radius: 12px;
  color: white;
      padding: 15px 20px;
  border: none;
  outline: none;
  width: 40%;
}


@media (max-width: 992px) {
.container-custom {
  width: 90%;
}
.row{
  margin: 0;
}
.col-12{
  padding: 0;
}
.btn-play-video {
  background: #288D69;
  border-radius: 12px;
  color: white;
  padding: 15px 20px;
  border: none;
  outline: none;
  width: 50%;
}
}
@media (min-width: 1200px) {
.container-custom {
  width: 75%;
}

}